click==6.7
Flask==0.12.1
Flask-SQLAlchemy==2.2
Flask-Testing==0.6.2
Flask-WTF==0.14.2
gunicorn==19.4.5
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
six==1.10.0
SQLAlchemy==1.1.9
Werkzeug==0.12.1
WTForms==2.1
