<!DOCTYPE html>
<html>
<head>
  <title>Flaskr</title>
  <meta name="csrf-token" content="{{ csrf_token() }}">
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
</head>
</head>
<body>

  <div class="container">

    <h1>Flaskr-TDD</h1>
    <!-- Logged out view -->
    <div id='logged-out-view' class='well'>
      <h2>Login</h2>
      {% if error %}
      <p class="error"><strong>Error:</strong>{{ error }}</p>
      {% endif %}
      <form class="form" action="/login" method="POST"  id="login">
        <dl>
          <dt>Username:</dt>
          <dd><input type="text" name="username" id="username"></dd>
          <dt>Password:</dt>
          <dd><input type="password" name="password" id="password"></dd>
          <dd><input type="submit" value="Login"></dd>
          <span> Use "admin" for username and password</span>
        </dl>
      </form>
    </div>

    <!-- Logged in View -->
    <div id='logged-in-view' class='well hidden'>
      <button type="button" class="btn btn-success" href="{{ url_for('logout') }}">log out</button>

    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}

    {% if session.logged_in %}
      <form action="{{ url_for('add_entry') }}" method="post" class="add-entry" id="add-entry">
        <dl>
          <dt>Title:</dt>
          <dd><input type="text" size="30" name="title" id="title"></dd>
          <dt>Text:</dt>
          <dd><textarea name="text" rows="5" cols="40" id="text"></textarea></dd>
          <dd><input type ="submit" value="Share"></dd>
        </dl>
      </form>
    {% endif %}

    <br>

    <ul class="entries">
      {% for entry in entries %}
        <li class="entry"><h2 id={{ entry.post_id }}>{{ entry.title }}</h2>{{ entry.text|safe }}</li>
      {% else %}
        <li><em>No entries here so far</em></li>
      {% endfor %}
    </ul>
  </div>

  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{url_for('static', filename='main.js') }}"></script>
</body>
</html>
